<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="box-heading">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <h2>My Account</h2>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            </div>
                        </div>
                    </div>
                    <div class="my-ac-section">
                        <div class="my-ac-img">
                            {{#ifCond result.profilePicture '!=' ''}}
                            <img src="{{constants.ASSESSURL}}/uploads/profile_picture/{{result.profilePicture}}" alt=""
                                class="admin-profile-pic">
                            {{else}}
                            <img src="{{constants.ASSESSURL}}/img/my-ac-img.png" alt="" class="admin-profile-pic">
                            {{/ifCond}}
                            <div class="browse-btn">
                                <input type="file" id="adminProfile" accept="image/*">
                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="form-group usr-form">
                            <img src="{{constants.ACCESSURL}}img/user-fr-icon.png">
                            <input type="text" placeholder="First Name" onkeypress="return minLengthCheck(event)"
                                class="form-control" value="{{result.username}}" id="adminUserName">
                        </div>
                        <div class="form-group pass-word">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <input type="email" class="form-control" placeholder="email"
                                onkeypress="return minLengthCheck(event)" value="{{result.email}}" disabled>
                        </div>
                        <div class="clearfix change-pw">
                            <a href="#" data-toggle="modal" data-target="#modal-change-pw" id="clearModelData"><i
                                    class="fa fa-key m-r-xs" aria-hidden="true"></i> Change Password</a>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-primary btn-block"
                                onclick="adminProfile(this)">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade coman-modal" id="modal-change-pw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Change Password</h2>
                <form action="{{constants.ACCESSURL}}admin/changePassword" method="POST" class="admin-change-password">
                    <div class="form-group pass-word">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="Old Password"
                            onkeypress="return minLengthCheck(event)" id="oldPass" autocomplete="off" required>
                    </div>
                    <div class="form-group pass-word">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="New Password"
                            onkeypress="return minLengthCheck(event)" id="newPass" autocomplete="off" required>
                    </div>
                    <div class="form-group pass-word">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="Confirm New Password"
                            onkeypress="return minLengthCheck(event)" id="confirmPass" autocomplete="off" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btnChngPass">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="padding-top: 10%;">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2 id="ProfileMsg"></h2>
            </div>
        </div>
    </div>

    <div class="modal coman-modal  fade" id="failed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="padding-top: 10%;">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-times-circle"></i>
                </div>
                <h2 id="ProfileFailedMsg"></h2>
            </div>
        </div>
    </div>