<div class="modal forgot-pws-modal fade" id="Modal-forgot-password" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <form class="ajax-forgot-password" action="{{constants.ACCESSURL}}api/users/forgot-password">
                    <p>Enter your email below and we will send you a link to reset your password.</p>
                    <div class="error"></div>
                    <div class="form-group email-fr">
                        <img src="img/email-icon.png">
                        <input class="form-control" onkeypress="return minLengthCheck(event)" type="email" name="email"
                            placeholder="Email" required="">
                    </div>
                    <div class="signup-btn">
                        <button type="submit" class="btn btn-primary">Send</button>
                        <a href="#" class="btn btn-primary hide success-forgot-password" data-toggle="modal"
                            data-target="#Modal-psw-reset-link" data-dismiss="modal"></a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal forgot-pws-modal fade" id="Modal-psw-reset-link" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="successful-icon"><img src="{{constants.ACCESSURL}}img/successful-icon.png" alt=""></div>
                <h4 class="modal-title">Successful</h4>
            </div>
            <div class="modal-body">
                <p>We have sent you a password reset link on your registered email address.</p>
            </div>

        </div>
    </div>
</div>


<div class="modal Modal-terms-use fade" id="Modal-terms-use" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    id="tnc">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Terms of Use</h4>
            </div>
            <div class="modal-body">
                <div class="terms-cnt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                        enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla
                        ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
                        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam
                        nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
                    <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                        Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla
                        mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales,
                        augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
                        Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in
                        dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus
                        orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam
                        pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                        ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere
                        ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus.
                        Vestibulum volutpat pretium libero. Cras id dui.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                    <div class="terms-btn clearfix">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal modal-ac-created fade" id="Modal-ac-created" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="javascript:window.location = '/'"><span aria-hidden="true">&times;</span></button>
                <div class="successful-icon"><img src="{{constants.ACCESSURL}}img/successful-icon.png" alt=""></div>
                <h4 class="modal-title">Congratulations!</h4>
            </div>
            <div class="modal-body">
                <p>Congratulations, your account has been created. We have sent you a verification email.</p>
            </div>

        </div>
    </div>
</div>

<div class="modal pass-pws-modal fade" id="Modal-reset-password" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="javascript:window.location = '/'"><span aria-hidden="true">&times;</span></button>
                <div class="successful-icon"><img src="{{constants.ACCESSURL}}img/successful-icon.png" alt=""></div>
                <h4 class="modal-title">Successful</h4>
            </div>
            <div class="modal-body">
                <p>Your Password Reset successfully.</p>
            </div>

        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script src="{{constants.ACCESSURL}}js/jquery-2.1.1.js" type="text/javascript"></script>
<script src="{{constants.ACCESSURL}}js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{constants.ACCESSURL}}js/app.js" type="text/javascript"></script>
<script src="{{constants.ACCESSURL}}js/jquery.toast.js" type="text/javascript"></script>
</body>

</html>