<div id="page-wrapper" class="gray-bg">
    <div class="row top-header-bar">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn main-menu-btn" href="#"></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="user-info-box">
                    <div class="dropdown">
                        <span class="prof-img">
                            {{#ifCond user.user.profilePicture '==' ''}}
                            <img alt="image" class="img-circle" src="{{constants.ACCESSURL}}img/profile-img.png" />
                            {{/ifCond}}
                            {{#ifCond user.user.profilePicture '!=' ''}}
                            <img alt="image" class="img-circle" src="{{user.user.profilePicture}}" />
                            {{/ifCond}}
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs">
                                </span> <span class="text-muted text-xs block">{{user.firstname}}<b
                                        class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{constants.ACCESSURL}}users/profile">Profile</a></li>
                            <!--                            <li><a href="contacts.html">Contacts</a></li>-->
                            <li><a data-toggle="modal" data-target="#confirm-modal">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </nav>
    </div>

    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="padding-bottom: 100px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Are you Sure You want to Logout ?</p>
                    <div class="btn-sure">

                        <a href="{{constants.ACCESSURL}}logout" style="color: white;"> <button type="button"
                                class="btn btn-primary">Yes</button></a>
                        <button type="button" class="btn btn-logout" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>