<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to The Abundance Coin | {{title}}</title>
    <link rel="shortcut icon" type="img/x-icon" href="{{constants.ACCESSURL}}img/logo.png">
    <link href="{{constants.ACCESSURL}}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{constants.ACCESSURL}}font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="{{constants.ACCESSURL}}css/animate.css" rel="stylesheet" type="text/css">
    <link href="{{constants.ACCESSURL}}css/style.css" rel="stylesheet" type="text/css">
    <link href="{{constants.ACCESSURL}}css/mystyle.css" rel="stylesheet" type="text/css">
    <link href="{{constants.ACCESSURL}}css/media.css" rel="stylesheet" type="text/css">
    <link href="{{constants.ACCESSURL}}css/developer.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{constants.ACCESSURL}}css/jquery.toast.css" rel="stylesheet" type="text/css">
</head>

<body>
    {{{body}}}
    {{> login-footer}}