<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
  <title>Welcome</title>
  <style type="text/css">
    body {
      margin: 0 !important;
      padding: 0 !important
    }

    img {
      border: 0 !important;
      outline: none !important
    }

    p {
      Margin: 0px !important;
      Padding: 0px !important
    }

    table {
      border-collapse: collapse
    }

    td,
    a,
    span {
      border-collapse: collapse
    }

    ExternalClass * {
      line-height: 100%
    }

    @media only screen and (min-width:481px) and (max-width:599px) {
      .wrap {
        width: 100% !important
      }

      .hide {
        display: none !important
      }

      .side {
        width: 15px !important;
      }

      .pa {
        padding: 15px !important;
      }

      .pb {
        padding-bottom: 20px;
      }
    }

    @media only screen and (max-width:480px) {
      .wrap {
        width: 100% !important
      }

      .hide {
        display: none !important
      }

      .h20 {
        height: 20px !important;
      }

      .side {
        width: 15px !important;
      }

      .pa {
        padding: 15px !important;
      }

      .pb {
        padding-bottom: 20px;
      }
    }
  </style>
</head>

<body style="margin:0px;padding:0px" bgcolor="#ffffff">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
      <td align="center" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" class="wrap">
          <tr>
            <td height="60" class="h20">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" style="box-shadow:0 0 20px #e6e6e6;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
                <tr>
                  <td width="30" class="side">&nbsp;</td>
                  <td align="center" valign="top" style="padding-top:30px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="top" style="box-shadow: 0 0 3px #7f5324;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">

                            <tr>
                              <td bgcolor="#fff" align="center" valign="top" class="pa" style="padding:30px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center" valign="top" style="padding: 0 0 15px 0;"><img width="80"
                                        src="{{FRONT_BASE_URL}}img/logo.png" alt=""></td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:22px; color:#7f5324; line-height:22px; font-weight:bold; padding:0 0 10px;"
                                      class="pb"> Thank You For Registering</td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:18px; color:#7f5324; line-height:22px; font-weight:bold; padding:10px 0 15px 0;"
                                      class="pb">Hi, {{fullname}}</td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#000; line-height:20px; padding:0 0 20px;">
                                      Thanks for registering an account with Abundance! We're excited to have you on
                                      board.
                                      Before we get started, we'll need to verify your email. </td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top" style="padding: 0 0 20px 0;">
                                      <a href="{{FRONT_BASE_URL}}verify-email/{{token}}"
                                        style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#fff; line-height:20px; padding:10px 20px; display: inline-block; background: #7f5324; text-decoration: none; border-radius: 4px;">
                                        Verify Email</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#000; line-height:20px; padding:0 0 20px;">
                                      If you haven’t made the request please contact our helpline immediately <a
                                        href="{{FRONT_BASE_URL}}users/help-and-support" style="color: #7f5324;">Contact
                                        Us</a></td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#000; line-height:20px;">
                                      Thanks <br>The Abundance Team</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top"
                          style="padding:15px 15px 15px 15px; font-family:'Lato', Arial, sans-serif; font-size:11px; color:#777777; line-height:15px;">
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="30" class="side">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="60" class="h20">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="hide" style="white-space:nowrap;font:20px courier;color:#ffffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;</div>
</body>

</html>